<div id="command-history" class="command-history"></div>

<style>
  .command-history {
    p {
      margin: 0;
    }
    padding: 1rem 1rem 0 1rem;
    .command-name {
      color: #729FCF;
      font-weight: bold;
    }
    .command-description {
      padding-left: 1rem;
      color: #fff;
    }
    .section-list {
      display: flex;
      gap: 1rem;
    }
    .error {
      color: red;
    }
  }
</style>