<div class="welcome">
  Welcome to the system. Type 'help' to see available commands.
</div>

<style>
  .welcome {
    border-top: 1px dashed #772953;
    padding-top: 10px;
    margin-top: 10px;
    color: #F57900;
    padding-left: 1rem;
  }
</style>